@charset "UTF-8";
:root {
  --main-page-font: "Montserrat", sans-serif;
  --accent-color: #ff6b09;
  --primary-text-color: #111518;
  --secondary-text-color: #b9b9b9;
  --additional-text-color: #3d3d3d;
  --white-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f1f1f1;
  --dark-bg-color: #111518;
  --transition-function: 300ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  scroll-behavior: smooth;
  font-family: var(--main-page-font);
  animation-duration: 750ms;
}

.container {
  width: 100%;
  padding: 0 10px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    max-width: 1344px;
    padding: 0 15px;
  }
}

.title {
  font-weight: 800;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) {
  .title {
    font-size: 20px;
    line-height: 1.35;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1344px) {
  .title {
    font-size: 46px;
    line-height: 1.3;
  }
}

.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  min-width: 260px;
  height: 48px;
  padding: 14px 1px;
  cursor: pointer;
  border: none;
  transition: all var(--transition-function);
}
@media screen and (min-width: 1344px) {
  .btn {
    font-size: 14px;
    line-height: 1.214;
    min-width: 354px;
    height: 70px;
    padding: 27px 5px;
  }
}

.animate:hover,
.animate:focus {
  transform: scale(1.1);
}

.uptop {
  position: fixed;
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgba(255, 107, 9, 0.5);
  border-radius: 3px;
  bottom: 40px;
  right: 50%;
  transform: translateX(400%);
  margin-right: -150px;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease, margin-right 0.5s ease-out;
  cursor: pointer;
  z-index: 10;
}
.uptop:hover {
  background-color: var(--accent-color);
  opacity: 1;
}
.uptop:hover::after, .uptop:hover::before {
  background-color: var(--white-color);
}
.uptop::before, .uptop::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 2px;
  background-color: var(--primary-text-color);
  top: 10px;
  transition: all var(--transition-function);
}
.uptop::before {
  left: 13px;
  transform: rotate(45deg);
}
.uptop::after {
  right: 13px;
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .uptop {
    bottom: 50px;
    transform: translateX(910%);
  }
}
@media screen and (min-width: 1344px) {
  .uptop {
    width: 50px;
    height: 50px;
    right: 35%;
  }
  .uptop::before, .uptop::after {
    height: 22px;
    top: 14px;
  }
  .uptop::before {
    left: 17px;
  }
  .uptop::after {
    right: 17px;
  }
}

.upview {
  transition: opacity 0.3s ease, margin-right 0.5s ease-out, background-color var(--transition-function);
  margin-right: 0px;
  opacity: 0.3;
}

.backdrop {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 52, 0, 0.7);
  backdrop-filter: blur(3px) grayscale(100%);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;
}

.modal-window {
  position: absolute;
  margin: auto;
  top: 10%;
  right: -60px;
  z-index: 50;
  background-image: url("/backdrop-modal.f33cebe6.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-color: var(--dark-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-left: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 60px 100px 60px 40px;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  text-align: center;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .modal-window {
    background-image: url("/backdrop-modal@2x.88590da3.png");
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    min-width: 400px;
    padding: 100px 120px 100px 60px;
  }
}
@media screen and (min-width: 1344px) {
  .modal-window {
    min-width: 500px;
    top: 5%;
    padding: 100px 140px 100px 80px;
  }
}
.backdrop.is-hidden .modal-window {
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn,
.close-btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  cursor: pointer;
  transition: all var(--transition-function);
}
.close-btn:hover, .close-btn:focus,
.close-btn-mobile:hover,
.close-btn-mobile:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .close-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .close-btn-mobile {
    display: none;
  }
}
.close-btn-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.modal-form-field {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 10px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 10px;
}
.modal-form-input {
  width: 100%;
  height: 30px;
  border: 1px solid var(--secondary-text-color);
  padding-left: 28px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  transition: all var(--transition-function);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  transition: all var(--transition-function);
  fill: rgb(117, 117, 117);
}
.modal-form-icon:focus {
  fill: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon, .modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-callback-btn, .modal-form-call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--accent-color);
  min-width: 120px;
  padding: 8px;
  cursor: pointer;
  border: none;
  transition: all var(--transition-function);
  margin: 0 auto;
}
.modal-form-callback-btn:hover, .modal-form-callback-btn:focus, .modal-form-call-btn:hover, .modal-form-call-btn:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
  outline: 1px solid var(--accent-color);
}
.modal-form-call-icon {
  margin-left: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1344px) {
  .modal-form {
    margin-bottom: 100px;
  }
  .modal-form-field {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .modal-form-input-wrapper {
    margin-top: 30px;
  }
  .modal-form-icon {
    top: 60%;
  }
}

.page.lock {
  overflow: hidden;
}

.logo {
  display: block;
  font-style: normal;
  line-height: 0;
  color: var(--primary-text-color);
  z-index: 3;
  transition: all var(--transition-function);
  animation-duration: 1500ms;
  animation-iteration-count: 1;
}

.burger-menu.is-open + .logo {
  color: var(--white-color);
}

.logo-wrapper {
  text-align: start;
}

.logo-secondfloor {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 800;
  line-height: 1.35;
}

.logo-fire {
  display: block;
  width: 14px;
  height: 20px;
  margin-right: 3px;
  margin-left: 3px;
  fill: var(--accent-color);
}

.logo-firstfloor {
  display: inline-flex;
  font-weight: 700;
  font-size: 5px;
  line-height: 2.2;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.accent {
  color: var(--accent-color);
  margin-right: 3px;
}

@media screen and (min-width: 768px) {
  .logo-secondfloor {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .logo-firstfloor {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
  }
  .accent {
    margin-right: 5px;
  }
  .logo-fire {
    width: 22px;
    height: 30px;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-left: 4px;
  }
}
.logo.inverse {
  color: var(--white-color);
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .header {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.burger-menu {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  background-color: rgba(17, 21, 24, 0.9);
  transition: all var(--transition-function);
  overflow-y: scroll;
}
.burger-menu.menu-open {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.nav-list {
  position: absolute;
  z-index: 3;
  top: 109px;
  left: 50%;
  width: fit-content;
  transform: translatex(-50%);
  text-align: start;
}

.nav-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: var(--transition-function);
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.nav-list-desktop {
  display: none;
}

.nav-item-desktop {
  margin-right: 40px;
}

.nav-item-desktop:last-of-type {
  margin-right: 60px;
}

.nav-link-desktop {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1343px) {
  .menu-button {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 3;
    cursor: pointer;
    transition: all var(--transition-function);
  }
  .menu-button-icon-line {
    position: absolute;
    left: 50%;
    top: 19px;
    transform: translatex(-50%);
    background-color: #000000;
    width: 20px;
    height: 2px;
    transition: all var(--transition-function);
  }
  .menu-button-icon::before, .menu-button-icon::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: #000000;
    width: 20px;
    height: 2px;
    transition: all var(--transition-function);
  }
  .menu-button-icon::before {
    top: 12px;
  }
  .menu-button-icon::after {
    bottom: 12px;
  }
  .menu-button:hover .menu-button-icon-line, .menu-button:focus .menu-button-icon-line, .menu-button:hover .menu-button-icon::before, .menu-button:focus .menu-button-icon::before, .menu-button:hover .menu-button-icon::after, .menu-button:focus .menu-button-icon::after {
    background-color: var(--accent-color);
  }
  .menu-button-icon.menu-open .menu-button-icon-line {
    opacity: 0;
    background-color: var(--white-color);
  }
  .menu-button-icon.menu-open::before {
    transform: translatex(-50%) rotate(-45deg);
    top: 19px;
    background-color: var(--white-color);
  }
  .menu-button-icon.menu-open::after {
    transform: translatex(-50%) rotate(45deg);
    bottom: 19px;
    background-color: var(--white-color);
  }
}
.burger-menu .btn {
  margin-top: 298px;
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border: 2px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .burger-menu .btn {
    display: none;
  }
}

.btn.header-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .btn.header-btn {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: 40px;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    transition: var(--transition-function);
  }
  .btn.header-btn:hover, .btn.header-btn:focus {
    background-color: var(--accent-color);
    border: none;
    color: var(--white-color);
  }
}
@media screen and (min-width: 1344px) {
  .btn.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    line-height: 1.214;
    min-width: 354px;
    height: 70px;
    padding: 27px 23px 26px 24px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    top: 159px;
  }
  .nav-link {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .nav-list-desktop {
    display: flex;
    margin-left: auto;
    text-decoration: none;
  }
  .nav-link-desktop {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.214;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    transition: var(--transition-function);
  }
  .nav-link-desktop:visited {
    color: var(--secondary-text-color);
  }
  .nav-link-desktop:hover, .nav-link-desktop:focus {
    color: var(--accent-color);
  }
}
.hero-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.hero-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
}

.hero-text--gray {
  font-weight: 500;
  color: var(--secondary-text-color);
}

.hero-text--orange {
  color: var(--accent-color);
}

.btn.hero-btn {
  display: inline-block;
  border: 2px solid var(--accent-color);
}

/***********************/
.hero-service-list-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
}

/*mobile*/
@media screen and (max-width: 767px) {
  .hero {
    margin-top: 100px;
    padding-top: 9px;
  }
  .hero-wave-box {
    min-height: 550px;
    background-image: url("/hero-mobile.31ec35d9.png");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .hero-title {
    margin-bottom: 30px;
  }
  .box-text :last-child {
    margin-bottom: 30px;
  }
  .hero-text-desktop--orange {
    display: none;
  }
  .btn-box {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /**********************/
  .hero-service {
    margin-top: -30px;
    padding-bottom: 50px;
  }
  .hero-service-list :last-child {
    margin-bottom: 0px;
  }
  .hero-service-list-item {
    display: flex;
    padding: 0 32px;
    margin-bottom: 30px;
  }
  .hero-service-list-icon {
    margin-right: 10px;
  }
  .hero-service-list-icon-desktop {
    display: none;
  }
  .hero-service-list-text-desktop {
    display: none;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-wave-box {
    background-image: url("/hero-mobile@2x.46350c03.png");
    background-size: 320px;
  }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .hero {
    margin-top: 157px;
  }
  .hero-wave-box {
    min-height: 450px;
    background-image: url("/hero-tablet.2cf74668.png");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 332px;
  }
  .hero-title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.3;
  }
  .hero-text--orange {
    margin-bottom: 30px;
  }
  .hero-text-desktop--orange {
    display: none;
  }
  /**********************/
  .hero-service {
    padding-bottom: 50px;
  }
  .hero-service-list {
    display: flex;
    justify-content: space-between;
  }
  .hero-service-list-item {
    display: flex;
  }
  .hero-service-list-icon-desktop {
    display: none;
  }
  .hero-service-list-text-desktop {
    display: none;
  }
  .hero-service-list-icon {
    margin-right: 10px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1343px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1343px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1343px) {
  .hero-wave-box {
    background-image: url("/hero-tablet@2x.7fe395a9.png");
    background-size: 768px;
  }
}
/*desktop*/
@media screen and (min-width: 1344px) {
  .hero {
    margin-top: 20px;
  }
  .hero-wave-box {
    min-height: 880px;
    background-image: url("/hero-desktop.54ed7088.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  /**********************/
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 2dppx) and (min-width: 1344px) {
  .hero-wave-box {
    background-image: url("/hero-desktop@2x.cce11455.png");
    background-size: 1680px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-left {
    padding-top: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 642px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-title {
    margin-bottom: 24px;
    font-size: 58px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1344px) {
  .hero-text {
    font-size: 20px;
    line-height: 1.65;
  }
}
@media screen and (min-width: 1344px) {
  .hero-text--orange {
    display: none;
  }
}
@media screen and (min-width: 1344px) {
  .hero-text-desktop--orange {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1344px) {
  .btn.hero-btn {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-service {
    padding-top: 65px;
    padding-bottom: 130px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-service-list {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1344px) {
  .hero-service-list-item {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1344px) {
  .hero-service-list-icon {
    display: none;
  }
}
@media screen and (min-width: 1344px) {
  .hero-service-list-icon-desktop {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-service-list-text-desktop {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.08em;
    margin-left: -18px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-service-list-text {
    display: none;
  }
}
.problems {
  position: relative;
  width: 100%;
  height: 545px;
  padding-top: 50px;
  background-color: var(--dark-bg-color);
  margin-left: auto;
  margin-right: auto;
}

.problems__title {
  max-width: 225px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.problems__title--accent {
  color: var(--accent-color);
}

.problems__container {
  position: absolute;
  top: 40%;
  bottom: 50%;
}

.problems__list {
  padding-left: 30px;
  padding-right: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  background-color: var(--white-color);
  height: 480px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.problems__list--item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
.problems__list--item:not(:last-child) {
  margin-bottom: 10px;
}
.problems__list--item::before {
  content: "";
  display: inline-block;
  vertical-align: super;
  border: none;
  box-sizing: border-box;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  color: var(--accent-color);
  padding-left: 10px;
}

.list--item-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
  color: var(--primary-text-color);
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .problems {
    min-width: 768px;
    height: 340px;
    padding-top: 60px;
    display: block;
  }
  .problems__title {
    max-width: 444px;
    font-size: 26px;
    line-height: 1.307;
    letter-spacing: 0.03em;
  }
  .problems__list {
    width: 668px;
    height: 303px;
    padding-top: 30px;
    padding-right: 47px;
    padding-bottom: 26px;
    padding-left: 96px;
    align-items: flex-start;
  }
  .problems__list--item {
    width: 236px;
    font-size: 14px;
    line-height: 1.428;
    margin: 0;
    vertical-align: top;
  }
  .problems__list--item:not(:last-child) {
    margin-bottom: 0px;
  }
  .problems__list--item:nth-child(odd) {
    margin-right: 22px;
  }
  .problems__container {
    top: 55%;
  }
}
@media screen and (min-width: 1344px) {
  .problems {
    min-width: 1344px;
    padding-top: 100px;
    height: 560px;
  }
  .problems::after {
    content: "";
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    width: 455px;
    height: 472px;
    background-image: url(/problematic-desktop.a4fe6bf8.png);
    z-index: 0;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 2dppx) and (min-width: 1344px) {
  .problems::after {
    background-image: url(/problematic-desktop@2x.0a8814e2.png);
  }
}
@media screen and (min-width: 1344px) {
  .problems__title {
    max-width: 866px;
    font-size: 46px;
    line-height: 1.304;
  }
}
@media screen and (min-width: 1344px) {
  .problems__list {
    width: 1314px;
    height: 362px;
    padding-top: 70px;
    padding-bottom: 62px;
    padding-right: 112px;
    padding-left: 114px;
  }
}
@media screen and (min-width: 1344px) {
  .problems__container {
    z-index: 1;
  }
}
@media screen and (min-width: 1344px) {
  .problems__list--item {
    font-size: 20px;
    line-height: 1.165;
    width: 336px;
    margin-right: 40px;
  }
  .problems__list--item:nth-child(odd) {
    margin-right: 0px;
  }
  .problems__list--item:nth-child(3n) {
    margin-right: 0;
  }
  .problems__list--item:not(:nth-child(3n)) {
    margin-right: 40px;
  }
  .problems__list--item:nth-child(-n+3) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1344px) {
  .list--item-text {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1344px) {
  .problems__container {
    top: 62%;
  }
}
.approach {
  padding-top: 198px;
  padding-bottom: 50px;
}

.approach-title {
  margin-bottom: 30px;
  text-align: center;
}

.approach-item {
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.approach-card {
  width: 280px;
  height: 280px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all var(--transition-function);
}

.approach-link {
  display: block;
  text-decoration: none;
}

.approach-link:hover .approach-card,
.approach-link:focus .approach-card {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.approach-link:hover .approach-icon,
.approach-link:focus .approach-icon {
  fill: var(--white-color);
}

.approach-link:hover .approach-text,
.approach-link:focus .approach-text {
  color: var(--white-color);
}

.approach-link:hover .approach-subtitle,
.approach-link:focus .approach-subtitle {
  color: var(--white-color);
}

.approach-link:hover .approach-subtitle::after,
.approach-link:focus .approach-subtitle::after {
  background-color: var(--white-color);
}

.approach-list {
  margin-bottom: -15px;
}

.approach-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  fill: var(--accent-color);
  transition: fill var(--transition-function);
}

.approach-subtitle {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 42px;
  color: var(--dark-bg-color);
  transition: color var(--transition-function);
}

.approach-subtitle::after {
  content: " ";
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  bottom: -20px;
  right: 46%;
  transition: background-color var(--transition-function);
}

.approach-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
  text-align: center;
  transition: color var(--transition-function);
}

@media screen and (min-width: 768px) {
  .approach {
    padding-top: 200px;
  }
  .approach-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: -27px;
  }
  .approach-item {
    margin-right: 20px;
    margin-bottom: 27px;
  }
  .approach-card {
    width: 334px;
    height: 334px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .approach-icon {
    margin-bottom: 30px;
  }
  .approach-subtitle {
    margin-bottom: 52px;
  }
  .approach-subtitle::after {
    bottom: -25px;
  }
}
@media screen and (min-width: 1344px) {
  .approach {
    padding-top: 280px;
    padding-bottom: 130px;
  }
  .approach-title {
    text-align: left;
    margin-bottom: 50px;
  }
  .approach-list {
    margin: -10px;
  }
  .approach-card {
    width: 425px;
    height: 396px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .approach-item {
    margin: 10px;
    max-width: calc((100% - 60px) / 3);
  }
  .approach-subtitle {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
  .approach-text {
    font-size: 18px;
    line-height: 1.55;
  }
  .approach-subtitle::after {
    bottom: -15px;
    right: 46%;
  }
}
.our-program {
  position: relative;
  padding-top: 50px;
  padding-bottom: 537px;
  background-color: var(--dark-bg-color);
}
@media screen and (min-width: 768px) {
  .our-program {
    padding-top: 60px;
    padding-bottom: 392px;
  }
}
@media screen and (min-width: 1344px) {
  .our-program {
    padding-top: 120px;
    padding-bottom: 364px;
  }
}

.our-program__title {
  color: var(--white-color);
}
@media screen and (max-width: 767px) {
  .our-program__title {
    margin-bottom: 43px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .our-program__title {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1344px) {
  .border-wrapper {
    padding-bottom: 100px;
    margin-bottom: 60px;
    border-bottom: 2px solid #546264;
  }
}

.image-wrapper {
  position: relative;
}
.image-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 319px) {
  .image-wrapper::after {
    right: 0;
    bottom: -98px;
    width: 120px;
    height: 137px;
    background-image: url("/program-mobile.661685c5.png");
  }
}
@media screen and (max-width: 319px) and (min-device-pixel-ratio: 2), screen and (max-width: 319px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 319px) and (-o-min-device-pixel-ratio: 2/1), screen and (max-width: 319px) and (min-resolution: 192dpi), screen and (max-width: 319px) and (min-resolution: 2dppx) {
  .image-wrapper::after {
    background-image: url("/program-mobile@2x.b0505bcd.png");
  }
}
@media screen and (min-width: 320px) {
  .image-wrapper::after {
    right: 0;
    bottom: -98px;
    width: 120px;
    height: 137px;
    background-image: url("/program-mobile.661685c5.png");
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .image-wrapper::after {
    background-image: url("/program-mobile@2x.b0505bcd.png");
  }
}
@media screen and (min-width: 768px) {
  .image-wrapper::after {
    width: 384px;
    height: 280px;
    right: 0;
    bottom: -140px;
    background-image: url("/program-tablet.39811aa9.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .image-wrapper::after {
    background-image: url("/program-tablet@2x.8bc5fe4e.png");
  }
}
@media screen and (min-width: 1344px) {
  .image-wrapper::after {
    width: 672px;
    height: 491px;
    left: -164px;
    bottom: -320px;
    background-image: url("/program-desktop.ddf44e19.png");
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .image-wrapper::after {
    background-image: url("/program-desktop@2x.d1246a24.png");
  }
}

.our-program__list {
  counter-reset: section;
}
@media screen and (max-width: 767px) {
  .our-program__list {
    padding-left: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .our-program__list {
    padding-left: 120px;
  }
}
@media screen and (min-width: 1344px) {
  .our-program__list {
    display: flex;
  }
}

.our-program__list-item {
  position: relative;
}
@media screen and (min-width: 1344px) {
  .our-program__list-item {
    flex-basis: calc((100% - 120px) / 5);
  }
}
@media screen and (max-width: 767px) {
  .our-program__list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .our-program__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .our-program__list-item:not(:last-child) {
    margin-right: 30px;
  }
}
.our-program__list-item:not(:last-child)::before {
  content: "";
  display: block;
  width: 1px;
  height: calc(100% + 40px);
  background-color: var(--white-color);
  position: absolute;
  top: 15px;
  left: -26px;
}
@media screen and (min-width: 768px) {
  .our-program__list-item:not(:last-child)::before {
    height: calc(100% + 30px);
    left: -56px;
  }
}
@media screen and (min-width: 1344px) {
  .our-program__list-item:not(:last-child)::before {
    display: none;
  }
}
.our-program__list-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -31px;
  top: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .our-program__list-item::after {
    left: -61px;
  }
}
@media screen and (min-width: 1344px) {
  .our-program__list-item::after {
    width: 16px;
    height: 16px;
    left: 0;
    top: -69px;
  }
}

.our-program__list-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
}
.our-program__list-title::before {
  content: counter(section) " ";
  counter-increment: section;
}
@media screen and (min-width: 1344px) {
  .our-program__list-title::before {
    font-size: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .our-program__list-title {
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1344px) {
  .our-program__list-item:hover .our-program__list-title {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .our-program__sublist {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .our-program__sublist-item {
    flex-basis: calc((100% - 100px) / 3);
  }
}
@media screen and (max-width: 319px) {
  .our-program__sublist-item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .our-program__sublist-item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1344px) {
  .our-program__sublist-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.our-program__sublist-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: var(--accent-color);
}
.our-program__sublist-title::before {
  content: "";
  margin-right: 5px;
  width: 12px;
  height: 1px;
  background-color: var(--accent-color);
}
@media screen and (min-width: 1344px) {
  .our-program__sublist-title::before {
    margin-right: 10px;
    width: 20px;
    height: 2px;
  }
}
.our-program__sublist-title--last {
  margin-bottom: 10px;
  height: 32px;
}
@media screen and (min-width: 1344px) {
  .our-program__sublist-title {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 10px;
  }
}

.our-program__second-sublist-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--secondary-text-color);
  opacity: 0.5;
}
@media screen and (min-width: 1344px) {
  .our-program__second-sublist-item {
    font-size: 18px;
    line-height: 1.56;
  }
}

.choose {
  position: absolute;
  bottom: -230px;
  width: 280px;
  counter-reset: section;
  z-index: 1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .choose {
    bottom: -252px;
  }
}
@media screen and (min-width: 1344px) {
  .choose {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
.choose__title {
  color: var(--white-color);
  padding-right: 130px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .choose__title {
    text-align: center;
    padding-right: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .choose__title {
    display: none;
  }
}
.choose__item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .choose__item {
    width: 216px;
  }
}
@media screen and (min-width: 1344px) {
  .choose__item {
    width: 356px;
  }
}
@media screen and (max-width: 767px) {
  .choose__item:not(:last-child) {
    margin-bottom: 53px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .choose__item:not(:nth-child(n+5)) {
    margin-bottom: 63px;
  }
}
@media screen and (min-width: 1344px) {
  .choose__item:not(:nth-child(n+4)) {
    margin-bottom: 75px;
  }
}
.choose__item::before {
  content: "";
  display: block;
  width: 13px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 3px;
  top: -20px;
  margin-bottom: 15px;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1344px) {
  .choose__item::before {
    top: -15px;
  }
}
.choose__item::after {
  content: counter(section, decimal-leading-zero);
  counter-increment: section;
  position: absolute;
  bottom: 100%;
  color: #ff6b08;
  font-weight: 600;
  left: -2px;
  top: -30px;
  width: 20px;
  -webkit-transform: translateX(130%);
  transform: translateX(130%);
  letter-spacing: 0.08em;
  font-size: 14px;
  line-height: 1.64;
}
@media screen and (min-width: 1344px) {
  .choose__item::after {
    font-size: 20px;
    line-height: 1.65;
  }
}
.choose__topic {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1344px) {
  .choose__topic {
    font-size: 20px;
    line-height: 1.4;
  }
}
.choose__list {
  padding-left: 30px;
  padding-right: 34px;
}
@media screen and (min-width: 768px) {
  .choose__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 98px;
    padding-right: 98px;
  }
}
@media screen and (min-width: 1344px) {
  .choose__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 83px;
    padding-right: 83px;
  }
}
.choose__box {
  background-color: var(--white-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding-top: 53px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .choose__box {
    padding-top: 63px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1344px) {
  .choose__box {
    padding-top: 101px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .choose .container {
    max-width: 728px;
  }
}
@media screen and (min-width: 1344px) {
  .choose .container {
    max-width: 1314px;
    padding-left: 0;
    padding-right: 0;
  }
}

.section-teacher {
  padding-top: 270px;
  padding-bottom: 50px;
  margin: 0 auto;
  background-color: var(--white-color);
}

.section-teacher > .container {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .section-teacher > .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section-teacher > .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .section-teacher > .container {
    max-width: 1344px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.teacher-image {
  min-width: 243px;
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
}

.experience-list {
  list-style: none;
  margin-bottom: 5px;
}

.dash {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.08em;
}

.section-teacher_title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.teacher-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--primary-text-color);
}
.teacher-name::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-text-color);
  margin-top: 10px;
  margin-bottom: 20px;
}

.experience-item {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.experience-item::before {
  content: "";
  display: block;
  min-width: 17px;
  height: 14px;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-image: url("/check.4b7c2681.svg");
  background-size: contain;
  background-origin: content-box;
}

.experience-item:not(:last-child) {
  margin-bottom: 20px;
}

.achievements-list {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--secondary-text-color);
  margin-top: 5px;
  margin-bottom: 10px;
}

.achievements-item:not(:last-child) {
  margin-bottom: 20px;
}

.teacher-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .section-teacher_title {
    margin-bottom: 20px;
  }
  .section-teacher_picture {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section-teacher {
    padding-top: 302px;
  }
  .section-teacher_title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .section-teacher_biography {
    display: flex;
  }
  .section-teacher_content {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .section-teacher_title {
    font-size: 46px;
    margin-bottom: 50px;
  }
  .teacher-name {
    font-size: 30px;
    line-height: 1.233;
  }
  .experience-item::before {
    min-width: 24px;
    height: 20px;
    margin-right: 35px;
  }
  .experience-item {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
  .experience-list {
    margin-bottom: 15px;
  }
  .achievements-list {
    font-size: 18px;
    line-height: 1.56;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .teacher-image {
    min-width: 530px;
  }
  .section-teacher {
    padding-top: 329px;
    padding-bottom: 130px;
  }
  .section-teacher_content {
    padding-left: 30px;
  }
  .teacher-name::after {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .teacher-link {
    font-size: 18px;
    line-height: 1.56px;
  }
  .section-teacher_content {
    max-width: 641px;
  }
}
.container.mobile {
  padding-left: 0px;
  padding-right: 0px;
}

.garantee-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: var(--additional-text-color);
  text-align: left;
  width: 245px;
  margin-left: 33.5px;
}

.garantee-item {
  position: relative;
}

.garantee-item:not(:last-child) {
  margin-bottom: 23px;
}

.garantee-item:not(:last-child)::before {
  content: "";
  display: block;
  height: 68px;
  border: 1px dashed var(--secondary-text-color);
  position: absolute;
  margin-left: 5px;
  margin-top: 25px;
}

.garantee-block {
  background-color: var(--secondary-bg-color);
  width: 320px;
  padding: 30px 20px;
  text-align: center;
}

.icon-fire {
  position: absolute;
  left: -0.5px;
  fill: var(--accent-color);
}

.garantee-accent {
  color: var(--accent-color);
}

.title-garantee {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .garantee-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .garantee-description {
    position: relative;
    font-family: Montserrat;
    width: 520px;
    margin-left: 38px;
  }
  .garantee-block {
    margin: 0 auto;
    background-color: var(--secondary-bg-color);
    width: 688px;
    padding: 30px 50px 30px 79px;
  }
  .icon-fire {
    position: absolute;
    left: -38px;
    fill: var(--accent-color);
  }
  .garantee-accent {
    color: var(--accent-color);
  }
  .garantee-item:not(:last-child)::before {
    content: "";
    height: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .garantee-description {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: var(--additional-text-color);
    margin: 0;
    text-align: left;
    width: 1038px;
    margin-left: 50px;
  }
  .garantee-description:not(:last-child) {
    margin-bottom: 20px;
  }
  .garantee-item:not(:last-child)::before {
    content: "";
    height: 40px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .garantee-block {
    background-color: var(--secondary-bg-color);
    width: 1314px;
    height: 395px;
    padding: 50px 112px 30px 112px;
  }
  .icon-fire {
    position: absolute;
    left: -50px;
    width: 22px;
    height: 30px;
    fill: var(--accent-color);
  }
  .garantee-accent {
    color: var(--accent-color);
  }
  .garantee-description:not(:last-child):before {
    content: "";
    display: block;
    height: 40px;
    border: 1px dashed var(--secondary-text-color);
    position: absolute;
    margin-left: -43px;
    margin-top: 25px;
  }
  .title-garantee {
    font-size: 46px;
    margin-bottom: 50px;
  }
}
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--white-color);
}
.reviews .container {
  position: relative;
}
@media screen and (min-width: 1344px) {
  .reviews .container {
    padding: 0 127px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.reviews-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .reviews-title {
    margin-bottom: 50px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews-title {
    margin-bottom: 30px;
    font-size: 46px;
  }
}

.reviews-card {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .reviews-card {
    display: flex;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews-card {
    display: flex;
    padding-top: 50px;
    padding-right: 112px;
    padding-left: 82px;
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-card-img-wrapper {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .reviews-card-img-wrapper {
    margin-right: 46px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews-card-img-wrapper {
    margin-right: 40px;
  }
}

.reviews-card-img {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .reviews-card-img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.reviews-card-link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  color: var(--primary-text-color);
  transition-property: transform color;
  transition-duration: 500ms;
  transition-timing-function: var(--transition-function);
}
.reviews-card-link:hover, .reviews-card-link:focus {
  color: #436eab;
  transform: scale(1.2);
}

.reviews-card-icon {
  fill: currentColor;
}

.reviews-text-wrapper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews-text-wrapper {
    max-width: 412px;
    text-align: left;
  }
}
@media screen and (min-width: 1344px) {
  .reviews-text-wrapper {
    max-width: 706px;
  }
}

.reviews-card-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.219;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .reviews-card-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews-card-title {
    font-size: 30px;
  }
}

.reviews-card-subtitle {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.219;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .reviews-card-subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews-card-subtitle {
    font-size: 14px;
  }
}

.reviews-card-text {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.666;
  letter-spacing: 0.08em;
  color: var(--additional-text-color);
}
@media screen and (min-width: 1344px) {
  .reviews-card-text {
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.06em;
  }
}

.reviews-text-link {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.666;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
@media screen and (min-width: 1344px) {
  .reviews-text-link {
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.06em;
  }
}
@media screen and (max-width: 767px) {
  .reviews-text-link {
    position: absolute;
    top: 100%;
    left: 27%;
  }
}

/* Слайдер */
.slider {
  min-width: 0;
  position: relative;
  margin-bottom: 10px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .slider {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .slider {
    margin-bottom: 30px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 15px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: var(--transition-function);
}
.slider .slick-arrow:hover, .slider .slick-arrow:focus {
  transform: scale(1.2);
}

.slider .slick-arrow.slick-prev {
  left: -15px;
  width: 25px;
  height: 15px;
  background: url("/arrow-prev.0ac32aa1.svg") 0 0/100% no-repeat;
  border: transparent;
}
@media screen and (min-width: 1344px) {
  .slider .slick-arrow.slick-prev {
    left: -60px;
  }
}

.slider .slick-arrow.slick-next {
  right: -15px;
  width: 25px;
  height: 15px;
  background: url("/arrow-next.332ead05.svg") 0 0/100% no-repeat;
  border: transparent;
}
@media screen and (min-width: 1344px) {
  .slider .slick-arrow.slick-next {
    right: -60px;
  }
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.wrapper {
  position: relative;
  height: 54px;
}
.wrapper .slick-list {
  display: flex;
  overflow: hidden;
  width: 182px;
  margin: 0 auto;
  height: 54px;
}
@media screen and (min-width: 768px) {
  .wrapper .slick-list {
    width: 558px;
  }
}
.wrapper__item {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}
.wrapper__item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .wrapper__item:not(:last-child):not(:last-child) {
    margin-right: 30px;
  }
}
.wrapper__img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.wrapper .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 15px;
  font-size: 0;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: var(--transition-function);
}
.wrapper .slick-arrow:hover, .wrapper .slick-arrow:focus {
  transform: scale(1.2);
}
.wrapper .slick-arrow.slick-prev {
  top: 40%;
  left: 4%;
  width: 25px;
  height: 15px;
  background: url("/arrow-prev.0ac32aa1.svg") 0 0/100% no-repeat;
  border: transparent;
}
.wrapper .slick-arrow.slick-next {
  top: 40%;
  right: 4%;
  width: 25px;
  height: 15px;
  background: url("/arrow-next.332ead05.svg") 0 0/100% no-repeat;
  border: transparent;
}
.wrapper__item.slick-current .wrapper__img {
  border: 2px solid #ff6b09;
}

.form-section {
  padding: 50px 0;
  background-color: #111518;
  background-image: url("/form-mobile.30e49036.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .form-section {
    background-image: url("/form-mobile@2x.c7e98e63.png");
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 30px;
}

.form-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--white-color);
  margin-bottom: 30px;
}

.accent-color-text {
  color: var(--accent-color);
}

.form-input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--white-color);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--white-color);
}

.form-input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--white-color);
}

.form-input:not(:last-of-type) {
  margin-bottom: 20px;
}

.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--accent-color);
  min-width: 260px;
  height: 48px;
  padding: 14px 1px;
  cursor: pointer;
  border: none;
}

.form-btn {
  margin-top: 50px;
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .form-section {
    padding: 50px 0 71px 0;
    background-image: url("/form-tablet.797f0c57.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .form-section {
    background-image: url("/form-tablet@2x.b86e0b09.png");
  }
}
@media screen and (min-width: 768px) {
  .form-title {
    font-size: 26px;
    line-height: 1.307;
  }
}
@media screen and (min-width: 768px) {
  .form-text {
    font-size: 14px;
    line-height: 1.214;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .form-input {
    width: 390px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .form-btn {
    margin-top: 31px;
  }
}
@media screen and (min-width: 1344px) {
  .form-section {
    padding: 100px 0 62px 0;
    background-image: url("/form-desktop.78866453.png");
    background-size: 1680px 840px;
    background-position: center;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 2dppx) and (min-width: 1344px) {
  .form-section {
    background-image: url("/form-desktop@2x.9835b020.png");
  }
}
@media screen and (min-width: 1344px) {
  .form-title {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 50px;
    width: 1090px;
    margin-left: 100px;
  }
}
@media screen and (min-width: 1344px) {
  .form-text {
    font-size: 30px;
    line-height: 1.233;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1344px) {
  .form-input {
    width: 478px;
    height: 70px;
    padding-left: 40px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
@media screen and (min-width: 1344px) {
  .form-input::placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1344px) {
  .btn {
    font-size: 15px;
    line-height: 1.214;
    min-width: 354px;
    height: 70px;
    padding: 27px 25px;
  }
}
@media screen and (min-width: 1344px) {
  .fotm-btn {
    margin-top: 80px;
  }
}
.footer-light {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-function);
}
.footer-tel:hover .footer-tel-number, .footer-tel:focus .footer-tel-number {
  color: var(--accent-color);
}
.footer-tel:hover .footer-tel-icon, .footer-tel:focus .footer-tel-icon {
  transform: rotate(-42deg);
}

.footer-tel-icon {
  margin-right: 10px;
  fill: var(--accent-color);
  transition: all var(--transition-function);
}

.footer-tel-number {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--primary-text-color);
  transition: all var(--transition-function);
}

.footer-instagram {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.footer-dark {
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: var(--dark-bg-color);
}

.footer-copyrights {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .footer .logo-wrapper {
    margin-bottom: 20px;
  }
  .footer-tel {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .footer-light {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
  }
  .logo-wrapper {
    justify-content: start;
  }
  .footer-contacts {
    display: flex;
    align-items: center;
  }
  .footer-instagram {
    position: relative;
    margin-left: 48px;
  }
  .footer-instagram::before {
    content: "";
    position: absolute;
    top: 6%;
    left: -60%;
    height: 40px;
    width: 1px;
    background-color: var(--secondary-text-color);
  }
  .footer-tel-number {
    margin-left: auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
  }
  .footer-tel-icon {
    width: 24px;
    height: 23.06px;
  }
  .footer-copyrights {
    text-align: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .footer-light {
    justify-content: space-between;
  }
  .logo-wrapper {
    margin-right: 0;
  }
}
@media screen and (min-width: 1344px) {
  .footer-light {
    text-align: center;
    padding-top: 56px;
    padding-bottom: 55px;
    padding-left: 0;
  }
  .footer .logo {
    align-items: start;
    margin-right: 290px;
  }
  .footer-instagram {
    margin-right: auto;
    margin-left: 40px;
  }
  .footer-tel-number {
    margin: 0;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
  }
  .footer-tel-icon {
    width: 30px;
    height: 28.82px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */